
.date-selecter{
    /* height:  !important; */
    /* display: block; */
    width: 200px !important;
    padding: 5px;
    margin-right: 10px;
}

.message-for-upload{
    font-size: 13px;
}

.filter-btn{
    margin-right: 15px;
}

.filter-header{
    position: fixed;
    min-width: 95%;
    z-index: 11;
    background-color: rgb(247, 241, 252) !important;
}
.mt-10{
    padding-top: 100px;
}